<h3><font face="Trebuchet MS">Pointers</font></h3>
<p><h4><u><a name="h.9h9jfb3d2rol"></a>
    &amp; : to access the address of a variable
</u></h4>
<u>example:</u><br>
<font face="Courier New">
   
  var value int<br>
  fmt.Println("address of the variable 'value' is", &amp;value)<br>
  pointer := &amp;value
  fmt.Println("address of the variable 'value' is", pointer)<br>
  //address of the variable 'value' is 0x10328000<br>
  //address of the variable 'value' is 0x10328000
</font></p>

<p><h4><u><a name="h.9iw7rv1g2444"></a>
    * : to access the value pointed by a pointer</u></h4><br>
accessing the value pointed by a pointer is called "dereferencing" or "indirecting". it is done by the “*”.<br>
<u>example:</u><br>
<font face="Courier New">
fmt.Println("value of the variable 'value' is", value)<br>
ptr := &amp;value<br>
fmt.Println("value of the variable 'value' is", *ptr<br>
//value of the variable 'value' is 100<br>
//value of the variable 'value' is 100<br>
</font>
</p>
<p><h4><u><a name="h.39flciizavsi"></a>
    Different ways to access the value*(&amp;value) | 
	*&amp;value | *ptr</u></h4>
[TODO: need to add code examples to each of the below]<br>
<font face="courier new">
*(&amp;value<br>
*&amp;value<br>
*ptr
</font>
</p>
<p><h4><u><a name="h.mr1zjbszdxso"></a>new:</u></h4>
[TODO: need to gather more about this]
</p>

<p><h4><u>
<font face="tribuchet MS">Pointer Operations: not supported</font></u></h4>
unlike in C, arithmetic operations on pointers are not supported in Go.
</p>
<p><u>Notes:</u><br>
Pointer is the variable that holds the address of a memory location<br>
zero value of pointer type is nil<br>
Pointers cannot be used to point at a literal or a constant. [TODO: need to fill with an example]
</p>