<head>
<style>
h3, h4, h5 {
font-family: Trebuchet MS;
}
p.para1 {
font-family: Arial;
}
p.para2{
font-family: Courier New;
}
</style>
</head>
<h3>
Array <br>[n]&lt;datatype&gt;
</h3>
<h4>
<u>Array properties</u>
</h4>
<h5>
arrays have fixed size
</h5>

<p class="para1">unlike in many other programming languages, arrays in go have fixed size. if variable size is<br> required, use slice instead.
</p>
<h5>
initialization is not required:
</h5>

<p class="para1">no initialization is required, uninitialized array elements will be zero valued after defining
</p>
<h5>
array type includes the underlying type and the size
</h5>

 <p class="para1"><ul><li>array type is size and underlying type
</ul></li></p>

<p class="para1"><ul style="list-style-type:circle"><li>- size of the array affect its type. - size of the array is part of the array definition -<br> different arrays of different sizes are different types
</li></ul></p>
<p class="para1"><ul style="list-style-type:circle"><li> array of 2 integers is not compatible with an array of 5 integers
</li></ul></p>
<h5>
memory structure is sequential
</h5>
<p class="para1">each array item is stored in a sequential memory
</p>
<h5>
array is not a pointer type
</h5>
<p class="para1">array is not a pointer, it is a value type. i.e. passed array is copied and modifications to the passed array<br>will not impact the original array, and those changes are only made in the copy.
</p>
<h4>
<u>define, assign
</u></h4>
<h5>
define only;</h5> 


<p class="para2">var a[3] int
</p><br>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">var &lt;array variable name&gt;[&lt;size of array&gt;] &lt;data type&gt;;
</p>

<p class="para2">&lt;array variable name&gt;[&lt;index starting from 0&gt;]= &lt;value&gt;;
</p>
<p class="para1"><u>example:</u>
</p>
<p class="para2">var a[3] int
</p>
<h5>
define and assign in same lines - type 1;
</h5>
<p class="para2">var a = [3]int{10, 20}
</p>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">var &lt;array variable name&gt; = [&lt;size of array&gt;] &lt;data type&gt; {&lt;values list<br> separated by comma&gt;}
</p>
<p class="para1"><u>example:</u>
</p>
<p class="para2">var a = [3]int{10, 20} //[10 20 0]
</p>
<h5>
define and assign in same line - type 2;
</h5>
<p class="para2">b:=[3]int{10,20}
</p>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">&lt;array variable name&gt; := [&lt;size of array&gt;] &lt;data type&gt; {&lt;values list<br> separated by comma&gt;}
</p>
<p class="para1"><u>example:</u>
</p>
<p>
<p class="para2">b:=[3]int{10,20}
</p>
<h5>
define and assign in same line - type 3; without indicating the size<br> 
</h5>
<p class="para2">c:=[...]int{10,20}
</p>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">&lt;array variable name&gt; := [...] &lt;data type&gt; {&lt;values list separated by<br>comma&gt;}
</p>
<p class="para1"><u>example:</u>
</p>
<p class="para2">c:=[...]int{10,20}
</p>
<p class="para1"><u>Notes:</u>
</p>
<p class="para1"><ul><li>size of array is computed by the compiler

</li></ul></p>
<p class="para1"><ul><li>in this method, size will be derived by the number of items in the assignment list
</li></ul></p>
<p class="para1">If the array is already defined, then assigning values to its elements can be done separately as<br> below 2 ways. one at a time, or all together.
</p>
<h5>
assign only; assigning one element at a time
</h5> 
<p class="para2">c[0]=20
</p>
<p>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">&lt;array variable name&gt;[&lt;index&gt;] = &lt;value&gt;
</p>
<p class="para1"><u>example:</u>
</p>
<p>
<p class="para2">c[1]=20
</p>
<h5>
assign only; assigning all array elements in single line</h5><br>
<p><font face="Courier New">a<br> =[3]int{10, 20}
</font></p>
<p class="para1"><u>syntax:</u>
</p>
<p class="para2">var &lt;array variable name&gt;[&lt;size of array&gt;] &lt;data type&gt;;
</p>
<p class="para2">&lt;array variable name&gt; = [&lt;size of array&gt;] &lt;data type&gt; {&lt;values list<br> separated by comma&gt;}
</p>
<p class="para1"><u>example:</u>
</p>
<p class="para2">var a [3]int
</p>
<p class="para2">a =[3]int{10, 20} //[10 20 0]
</p>
<h4>
functions
</h4>
<h5>
to find the length of an array: 

</h5>
<p class="para2"><br>len(&lt;array<br> variable name&gt;)
</p>
<p class="para1">example:
</p>
<p class="para2">var a [10] int
</p>
<p class="para2">fmt.Println(len(a)) // 10
</p>
<hr color="black">