<head>
<style>
h3, h4, h5 {font-family: Trebuchet MS; }
p.para1 {font-family: Arial; }
p.para2 {font-family: Courier New; }
</style>
</head>
<h3>Structs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type &lt;name&gt;
<br> struct {....} </h3>
<h4><u>define - type </u></h4>
<h5> 1) each variable declaration in a new line  </h5>
<p class="para1"> <u>syntax:</u></p>
<p class="para2">type &lt;struct name&gt; struct {<br>
    &lt;variable declarations <strong><u>separated by newline</u></strong>&gt;<br>

    }</p>

<p class="para1"><u>example:</u></p>
<p class="para2">type TinyStruct struct {<br>IsTiny bool<br>code int<br>version int<br>}<br></p>
<h5>2) skip the datatype instead of repeating  </h5>
<p class="para1"><u>syntax:</u></p>
<p class="para2">type &lt;struct name&gt; struct {<br>
&lt;variable declarations of same type in same line with datatype only <br>once and rest <strong>in their separate lines</strong>&gt;<br>
    }
</p>
<p class="para1"><u>example:</u></p>
<p class="para2">type TinyStruct struct {<br>
    IsTiny bool<br>
 code, version int<br>
    }<br></p>
<h4><u>define - variable</u></h4>
<p class="para2">var &lt;variable name&gt; &lt;struct type name&gt;<br></p>
<p class="para1">or using the Short variable declarations method using :=
</p>
<h4><u>Initialization is not required</u></h4>
<p class="para1">
    Structs doesn’t need initialization. the initial value of the struct is equivalent to the initial values<br> of each of its elements combined. and we can start assigning values to structure variable<br> elements.
</p>
<p class="para1">
    However, in case of a map as an element in the struct, since the the initial value will be a nil<br> map, we cannot add data into that element without
    initializing it using make. [TODO: need to <br>create a example to demonstrate the map case]
</p>
<h4><u>assign</u></h4>
<h5>0-value version</h5>
<p class="para1"><ul><li><u>example:</u><font face="courier new">var t1a TinyStruct // {false 0 0}</li>
<li><u>example:</u> t1b := TinyStruct{} // {false 0 0}</li>
<li><u>example:</u> t1c := *new(TinyStruct)// {false 0 0} // note: new()returns a pointer</li>
<li><u>example:</u>
    <s>
        t1d := TinyStruct
    </s>
    //ERROR: this is not allowed, it leads to error</li>
<li><u>example:</u>
    <s>
        t1e := make(TinyStruct)
    </s>
    //ERROR: make cannot be used with struct.</li>
	</ul><font/>
</p>
<h5><font face="trebuchet MS"><strong><u>comma separated</u></strong></font>
    ordered list version
</h5>
<p><ul><li> <u>example:</u> <font face="courier new">t2 := TinyStruct{true, 20, 1} // order matters here</font></li></ul>
</p>
<h5><font face="trebuchet MS">unordered <strong>key:value</strong> pair (named fields) version</font>
</h5>
<p><ul><li><u>example:</u><font face="courier new">t3 := TinyStruct{IsTiny: false, version:1,code:20} // in any<br> order</font></li>
<li><u>example:</u> <font face="courier new">t3 := TinyStruct{code:20, IsTiny: false, version:1}// or in the same order</font></li>
<li>example:
   <font face="courier new">t3 := TinyStruct{<br>
			IsTiny: false,<br>
			code:20,<br>
			version:1,<br>
			} //when writing in multiple lines, add comma on <br>last line</font></li></ul></p>
<p>
    <ul><li><u>example:</u><font face="courier new">t3 := TinyStruct{IsTiny: false} // only one variable is<br> assigned</font></li></ul>
</p>
<h4><u>access</u></h4>
<h5>using dot(.) notation</h5>
<p class="para1"><u>example:</u> <font face="courier new">t3.IsTiny</font>
</p>
<h4><u>Pointers to structs</u></h4>
<p class="para1"><u>example:</u></p>
<p class="para2">
type graph struct {<br>
X int<br>
Y int<br>
 }<br>
v := graph{1, 2}<br>
v.X = 22 // modifying using the struct variable<br>
p.Y = 17 // modifying using the pointer; //note: accessing the <br>members with pointer variable is same as accessing using the struct variable<br>
// *p.Y = 20 // this is incorrect. as indirection of struct me<br>
fmt.Println(v) // before<br>
p := &amp;v // pointer to struct<br>
mbers using pointer is transparent.<br>
fmt.Println(*p) // after: using the pointer<br>
fmt.Println(v) // after: using the struct<br>
fmt.Println(p) // will NOT return the actual address of the variable,<br> instead a pointer to the struct value. here is what is printed. &amp;{22 17}
</p>
<p><font face="Arial">Note:
<ul><li>golang tour says "The indirection through the pointer is transparent."&#58;</li></ul>
<ul style="list-style-type:circle"><li>i.e. accessing the members of the struct using a pointer need not use the * notation.<br></li></ul>
<ul style="list-style-type:square"><li>*p is valid</li>
<li>*p.X is invalid</li>
<li>p.X is valid</li></ul></font></p>
<h4><u>Struct Literals</u></h4>
<p class="para1">A struct literal denotes a newly allocated struct value by listing the values of its fields within the {}.<br>
example:</p>
<p class="para2">{1, "Hello"&#58;} // is a valid struct literal a struct of type struct{n int m <br>string}
</p>
<p class="para1">[TODO: concept is not clear, need revisit later point in time. this is low priority]</p>