<style>
mark {
    
    background-color: yellow
}
</style>
<h4><font face="trebuchet MS">embedding &amp; nesting
<h5>embed 1: embedding the struct as-is (without using a variable)
</h5>
<h6><i>defining</i></font></h6>
<h5>
    <font face="arial"><u>example:</u></font>
    </h5>
<p>
    <font face="courier new">type <mark>User</mark> struct {<br>
	Id int<br> 
	Name string<br>
}
</font></p>
<p>
    <font face="courier new">type Admin struct {<br><mark>User</mark> // note: unlike in embed type 2; no variable name is mentioned here.<br>AdminRoleName string<br>
    }
</font></p>
<h6><font face="trebuchet MS" size="3">
<i>referencing/ calling</i>
</font>
</h6>
<p><font face="arial">some of the many possibilities are listed below;
</font></p>
<h5><font face="arial"><u>example 1:</u></font>
</h5>
<p><font face="courier new">var p Admin // or <mark>p := Admin{}</mark> // both will work
</p>
<p>
    fmt.Println(p) //{{0 } }
</p>
<p>
    p.Id = 1 // provided the Id field is NOT ambiguious, we can directly call<br> the fields of the inner struct.
</p>
<p>
    p.Name = "user 1"
</p>
<p>
    p.AdminRoleName = "admin"
</p>
<p>
    fmt.Println(p) //{{1 user1} Power User}
</font></p>
<h5><font face="arial"><u>example 2:</u></font>
 </h5>
<p><font face="courier new">var p Admin // or <mark>p := Admin{}</mark> // both will work
</p>
<p>
    fmt.Println(p) //{{0 } }
</p>
<p>
    p<mark>.User</mark>.Id = 1// using fully qualified name
</p>
<p>
    p<mark>.User</mark>.Name = "user 1"
</p>
<p>
    p.AdminRoleName = "admin"
</p>
<p>
    fmt.Println(p) //{{2 user2} Power User}</font>
</p>
<h5>
   <font face="arial"><u>example 3:</u>
</h5>
<p>
    <font face="courier new">var p Admin // or <mark>p := Admin{}</mark> // both will work
</p>
<p>
    p.User = <mark>User{1, "user 1"}</mark>
</p>
<p>
    p.AdminRoleName = "admin"
</p>
<p>
    fmt.Println(p)
</font></p>
<h5>
 <font face="arial"><u>example 4:</u></font>
</p>
<p><font face="courier New"><mark>p := Admin{User{1, "user 1"},"admin"}</mark>
</p>
<p>
    fmt.Println(p)</font>
</p>
<h5><font face="Arial"><u>example 5:</u></font>
</h5>
<p>

<font face="courier New"><mark>p := Admin{1, "user 1","admin"}</mark> <span style="background-color: red">//ERROR: will not work</span>
</p>
<p>
    //it is surprising how example 1 is working but not this one
</p>
<p>
    fmt.Println(p)</font>
</p>
<h4>
<font face="trebuchet MS"> embed 2: the inner struct stays underneath the tree.</font>
</h4>
<h5>
    
    <i><font face="trebuchet MS">defining the struct</font></i>
</h5>
<p>
    <font face="arial"><u>example</u></font>
    :
</p>
<p>
    <font face="Courier New">type User struct {<br>
    Id int<br>
Name string<br>
 }
</font></p>
<p>
<font face="courier New">type Admin struct {<br>
<mark>u</mark> User<br>
AdminRoleName string<br>}
</font></p>
<h5>
<font face="trebuchet MS"><i>referencing/calling</i></font>
</h5>
<p>
   <font face="Arial"> <u>correct example</u></font>
    :
</p>
<p>
  <font face="courier New">var p Admin // or p := Admin{} // both will work<br>
p.u.Id = 1<br>
p.u.Name = "user 1"<br>
p.AdminRoleName = "admin"<br>
//{{1 user1} Power User}<br>
</font></p>
<p>
 <font face="Arial"><u>incorrect example</u></font>
    :
</p>
<p>
 <font face="Courier New">var p Admin // or p := Admin{} // both are same<br>
a.Id = 1 //<font color="red"> ERROR: undefined (type Admin has no field or method Id)</font><br>
a.AdminRoleName = "Power User"<br>
fmt.Println(a)<br>
</font></p>
<h5>
 <font face="Trebuchet MS">embed 1 type vs. embed 2 type above:</font>
</h5>
<p>
   <font face="Arial">The main difference is that in case of the second type, the members of the inner struct can’t be<br>accessed directly. we have to use the fully qualified name
    (tracing down the tree) to access <br>them.
</font></p>
<h5>
 <font face="trebuchet MS">Nesting [TODO: ]
</font></h5>
<p>
    <font face="Arial">[TODO: need more research and need to add notes accordingly]
</font></p>
<p><font face="Trebuchet MS"><em>defining</em></font>
</p>
<p>
<font face="Arial"><u>example:</u></font>
    
</p>
<p>
<font face="Courier New">type MyStruct struct {<br>
 MyNestedStruct struct{<br>
cnt int<br>
}<br>
}
</font>
</p>
<h6>
<font face="trebuchet MS">referencing/ calling</font>
</h6>
<p>
<font face="Arial">[TODO] need to prepare a basic example and few more examples to compare with the embed types;
</font></p>
<div>
</div>